sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: I0N2THnf8RmDO/gknHeStg0G4XXYh2n32IB1kNTsxKDgDed+lkg7OF6JsZBCdBLT1YwP+E3WFJK+iBwcvXJPKthNOOLnS01RYKfwIdYmPqgFFrBVTLVYM6GrKWsaYJJ88YeEg4W/TwXQYxrABBOA7jyoG8+0JFDe0d6Oi7j2jPGf9CH2Xxv71tH5vI2jNVKyKCZDw2oJauyPDu+81ukrgj6r+NNGeMbET50GHhpGLhS6tYaNmZonnFV+/MZDLwWWF1Udpzy1U1t3x6jMAsmwpVoPZAu3S04dZNzPmuzb0s3Ca0kpTYgY9VYlOmVLMc7Rocsj7fj46+1lBeIVgestjwbFfTaxUomMCdZo//h88bq6OYQPANZ/BXdHLmG/utsIyPQsP9gkN/XFkVIcgLEYO3J0TlVqadQCxfX5lHkTyw5MhtH+xZJewfhQk2qq4zH3ESIJ7a4yDWrN2uhJWyoAcjRNnBxCUbvKJACIE+NY6WRNPcpOlMp9Qpjf2XKHEUc+AfElI8lP61Ia0Nt88Fw80NpB8+Pgd7O9IyIbITtCWt1I0F7jppZLuX7Lrvjz5OHJQzXgBq9Dr647NXaUnggIBdY25CuW6XP+6r8H4b8ZdrIn7QAvPvdUQ+GDxLCNS62RabgZwx9RR1P53u52rEft7h4ZIJiA4eEnfRGcp9fsqcM=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Riley-Farm-Rhymes_4783
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy